extends ./index.pug

mixin css(src)
	-src = 'CSS/' + src
	link(href=src, rel="stylesheet", type="text/css")
mixin script(src)
	-src = 'JS/' + src
	script(type="text/javascript", src=src)

block pageName
	| About

block title
	h1 About
	h3 This is a webpage showing off some my skills.

block head
	+css('About.css')
	+script('About.js')

block content
	.textBlock
		h3 Skills
		| I know Javascript very well, including es6 classes and loops, and I am very familiar with many of its APIs. These APIs include JQuery, AJAX, Node.js, Express.js, Socket.io, Babylon.js, Pug templating, Jade Templating, and HTML canvas. I am also very familiar with python, CSS, Oracle Databases, and HTML. However, I am willing to quickly learn any new languages or APIs needed.
		br
		| I am also very adept in Math. I have already taken and passed Calculus 1 very recently, so I remember most of the content that was taught. I also, unlike many of my peers, enjoy using my mathematical knowledge, and play on desmos.com sometimes in my free time.
	.textBlock
		h3 Resume
		| Below I have my resume and all documents refrenced in the resume. For that I accually know the skills listed in the resume, just look at the Projects tab. I also have my webstandards listed bellow too.
		br
		a(href='/download/resume') Resume
		br
		a(href='/download/transcript') School Grades Transcript
		br
		a(href='/download/OSHA') OSHA 10-Hour General Industry Certification
		br
		a(href='/download/certiport') Certiport Certification
		br
		a(href='/standards') Web Standards
		br
	.textBlock
		h3 Misc
		| Below I have any paper that are a part of my portfolio, but are not a part of my first 2 section
		br
		a(href='/download/strengthsFinder') Strengths Finder Certificate
		br
		a(href='/download/strengthsReport') Strengths Finder Report
		br
		