// This Source Code Form is subject to the terms of the Mozilla Public
	License, v. 2.0. If a copy of the MPL was not distributed with this
	file, You can obtain one at http://mozilla.org/MPL/2.0/.
doctype html
html#html
	head
		meta(charset='utf-8')
		title Cart Master
		script(src='JS/CartMaster/APIS/socketIO.js')
		script(src='JS/CartMaster/APIS/babylon.js')
		script(src='JS/CartMaster/APIS/hand.js')
		script(src='JS/CartMaster/APIS/cannon.js')
		script(src='JS/CartMaster/APIS/jquery.js')
		script(src='JS/CartMaster/APIS/UI.js')
		script(src='JS/CartMaster/Utils.js')
		link(rel='stylesheet', href='CSS/CartMaster.css')
	body
		canvas#renderCanvas
		canvas#menuCanvas
		p#controlText
		p#selectedUnits
		p#lifeText
		script(src='JS/CartMaster/game/selectableCarts.js')
		script(src='JS/CartMaster/game/keylistener.js')
		script(src='JS/CartMaster/game/AIs.js')
		script(src='JS/CartMaster/game/createOBJ.js')
		script(src='JS/CartMaster/game/pointerLocker.js')
		script(src='JS/CartMaster/game/eventLoop.js')
		script(src='JS/CartMaster/game/start.js')
		script(src='JS/CartMaster/game/UI.js')
		script(src='JS/CartMaster/game/socket.js')
		img#crossHair(src='Imgs/Cross%20Hair.png')
		img#loader(src='Imgs/loading%20gif.gif')
		img#background(src='Imgs/Grey.png')
		#gameOver
			img#black(src='Imgs/black.png')
			p#gameOverText
			h1 You Lose
			p
		#healthBar
			img(src='Imgs/red.png')
		#shieldBar
			img(src='Imgs/blue.png')
		#energyBar
			img(src='Imgs/yellow.png')
		button#muteButton mute
		script(src='JS/CartMaster/Menu/start.js')
		script(src='JS/CartMaster/Menu/mapSelector.js')