doctype html
html#html
	head
		meta(charset='utf-8')
		title Cart Master
		script(src='JS/Cartmaster/APIS/socketIO.js')
		script(src='JS/Cartmaster/APIS/babylon.js')
		script(src='JS/Cartmaster/APIS/hand.js')
		script(src='JS/Cartmaster/APIS/cannon.js')
		script(src='JS/Cartmaster/APIS/jquery.js')
		script(src='JS/Cartmaster/APIS/UI.js')
		script(src='JS/Cartmaster/Utils.js')
		link(rel='stylesheet', href='CSS/CartMaster.css')
	body
		canvas#renderCanvas
		canvas#menuCanvas
		p#controlText
		p#selectedUnits
		p#lifeText
		script(src='JS/Cartmaster/game/selectableCarts.js')
		script(src='JS/Cartmaster/game/keylistener.js')
		script(src='JS/Cartmaster/game/AIs.js')
		script(src='JS/Cartmaster/game/createOBJ.js')
		script(src='JS/Cartmaster/game/pointerLocker.js')
		script(src='JS/Cartmaster/game/eventLoop.js')
		script(src='JS/Cartmaster/game/start.js')
		script(src='JS/Cartmaster/game/UI.js')
		script(src='JS/Cartmaster/game/socket.js')
		img#crossHair(src='Imgs/Cross%20Hair.png')
		img#loader(src='Imgs/loading%20gif.gif')
		img#background(src='Imgs/Grey.png')
		#gameOver
			img#black(src='Imgs/black.png')
			p#gameOverText
			h1 You Lose
			p
		#healthBar
			img(src='Imgs/red.png')
		#shieldBar
			img(src='Imgs/blue.png')
		#energyBar
			img(src='Imgs/yellow.png')
		button#muteButton mute
		script(src='JS/Cartmaster/Menu/start.js')
		script(src='JS/Cartmaster/Menu/mapSelector.js')