extends ./index.pug

mixin css(src)
	-src = 'CSS/' + src
	link(href=src, rel="stylesheet", type="text/css")
mixin script(src)
	-src = 'JS/' + src
	script(type="text/javascript", src=src)

block title
	| Contact

block head
	+css('Contact.css')
	+script('Contact.js')

block content
	form.textBlock(action="reciveData" method="POST")
		h3 Send a Message to Me
		br
		label Email: 
		input(type='email' name='email' placeholder='john.smith@example.com' required)
		br
		label Your Message:
		br
		textArea(name='message' required)
		br
		input.noShow(type='address', name='address' placeholder='please dont fill this in')
		input(type='submit' value='Submit')