extends ./index.pug

mixin css(src)
	-src = 'CSS/' + src
	link(href=src, rel="stylesheet", type="text/css")
mixin script(src)
	-src = 'JS/' + src
	script(type="text/javascript", src=src)

block title
	| Donations

block head
	+css('About.css')
	+script('About.js')

block content
	.textBlock
		h3 nothing yet
		| I have no text here yet
	   