// This Source Code Form is subject to the terms of the Mozilla Public
	License, v. 2.0. If a copy of the MPL was not distributed with this
	file, You can obtain one at http://mozilla.org/MPL/2.0/.
html
	head
		mixin css(src)
			-src = 'CSS/' + src
			link(href=src, rel="stylesheet", type="text/css")
		mixin script(src)
			-src = 'JS/' + src
			script(type="text/javascript", src=src)
		title
			|SoftDoggy 
			block title
				| Home
		+css('perfect-scrollbar.min.css')
		+css('MenuBar.css')
		+css('Base.css')
		+script('JQuery.js')
		+script('perfect-scrollbar.jquery.min.js')
		+script('MenuBar.js')
		block head
			+script('Home.js')
			+css('Home.css')
	body#body
		#menuButtonDiv
			#horizMenuList.menuList
				ul
					li#logo.menuItem.link(goto='./') Home
					li.menuItem.link(goto='./about') About
					li.menuItem.link(goto='./projects') Projects
					li.menuItem.link(goto='./contact') Contact
					li.menuItem.link(goto='./donations') Donations
			button#menuButton
				div
					span#topBar.menuButton
					span#bottomnBar.menuButton
			#vertMenuList.menuList
				ul
					li.menuItem.link(goto='./about') About
					li.menuItem.link(goto='./projects') Projects
					li.menuItem.link(goto='./contact') Contact
					li.menuItem.link(goto='./donations') Donations
					li.menuItem.link(goto='./license') License
		header.noselect
			h1 SoftDoggy
			h3
				block title
					| Home
		main
			#dpi(style="height: 1in; width: 1in; left: 100%; position: fixed; top: 100%;")
			block content
				.textBlock
					h3 What is SoftDoggy?
					| SoftDoggy is a name I have made to house all of my personal coding projects under. While it is not an official company yet, I may choose to make it an official company in the future. Until then feel free to enjoy the mostly unfinished open source projects listed in the projects page. This page is also severing as a portfolio page for me presently too.
				.textBlock
					h3 Who am I?
					| My name is Christopher Jackson. While I plan on eventually becoming a learning machine developer, I am a student for now. I hope to use this website to help me in my transistion from being a student to working in the feild.
				.textBlock
					h3 Are you an employer looking to hire me?
					| I have many details about my qualifications, on my about page. There, I have a list of web standards that I have met, and the specific projects that show I meet them. I also have links to some websites that I have made at school, and various other information about my qualifications. While, all the projects on the projects page are unfinished they do show a lot of my skill in a few areas, including Python, Javascript, JQuery, Node.js, Babylon.js, and more. However, if you want to see completed projects, all of my school projects are completed, and listed in the about page.
				.textBlock
					h3 Donations
					| If you would like to donate money to help me make my games better, I have a donations page. The money donated would go to either helping me go to college, or to making the games themselves better. With that money I could buy things like the rights to better sounds and music, in order to make my games more engaging.
		footer.noselect
			span.link(goto='license') 2016&copy;Christopher Jackson
			br
			ul
				li.menuItem.link(goto='./') Home
				li.menuItem.link(goto='./about') About
				li.menuItem.link(goto='./projects') Projects
				li.menuItem.link(goto='./contact') Contact
				li.menuItem.link(goto='./donations') Donations