// This Source Code Form is subject to the terms of the Mozilla Public
	License, v. 2.0. If a copy of the MPL was not distributed with this
	file, You can obtain one at http://mozilla.org/MPL/2.0/.
doctype html
html
	head
		title Quest Master
		script.
			var isPublicGame = '#{ isHosting }';
			var isPrivateHosting = '#{ isPublicGame }';
		script(type='text/javascript', src='/JS/QuestMaster/socketIO.js')
		script(type='text/javascript', src='/JS/QuestMaster/QuestMaster.js')
		script(type='text/javascript', src='/JS/QuestMaster/JQuery.js')
		link(rel='stylesheet', href='/CSS/QuestMaster.css')
	body#body
		canvas#mainCanvas Your browser does not support html 5
		#chatBox
			p#name
				| Name:
				input#nameInput(type='text', autocomplete='off')
			ul#messages
			form(action='')
				input#m(autocomplete='off')
				button  Send