extends ./index.pug

mixin css(src)
	-src = 'CSS/' + src
	link(href=src, rel="stylesheet", type="text/css")
mixin script(src)
	-src = 'JS/' + src
	script(type="text/javascript", src=src)

block pageName
	|About

block title
	h1 About
	h3 This is a webpage showing off some my skills.

block head
	+css('About.css')
	+script('About.js')

block content
	.textBlock
		h3 Section 1 Standards
		| 1.1 Use Standards‐Compliant HTML to Create Basic Web Pages:
		br
		| I have gone beyond basic html. This webpage uses Pug templating, which was renamed from Jade templating, in order to create basic html. You can see the source code on the projects page.
		br
		br
		| 1.2 Use Styles to Format Web Pages:
		br
		| This page is styled 100% in CSS. I even go beyond just CSS and I use JQuery to animate and help this webpage resize itself.
		br
		br
		| 1.3 Demonstrate an Understanding of Advanced CSS Selectors and Properties:
		br
		| This webpage uses advance CSS styles like changing your cursor, in places like the footer.
	.textBlock
		h3 Section 2 Standards
		| 2.1 Demonstrate Understanding of Color Theory as it Applies to Web Design and Development:
		br
		| I have used Color Theory to help ensure that all the colors on this page look well together.
		br
		br
		| 2.2 Enhance Web Pages with List, Images and Background-Images:
		br
		| While this website only demonstrate one of those 3, I have used html images across some of my other projects.
		br
		br
		| 2.3 Demonstrate Understanding of and Use the Box Model:
		br
		| This webpage uses the box model very well in just about every location, including the box that this text is in.
		br
		br
		| 2.4 Demonstrate the Ability to Effectively Design and Layout Web Pages Using CSS:
		br
		| I have designed and created this website effectively on my own.
	.textBlock
		h3 Section 3 Standards
		| 3.1 Appropriately Use Tables to Enhance their Web Pages:
		br
		| I have not had a use for html tables. However, all of my projects demostrate that I know how not to use tables to design the webpage.
		br
		br
		| 3.2 Demonstrate the Ability to Use Design and Layout Web Forms:
		br
		| This project has a contact form on the contact page, which demonstrates how to layout and design html forms.
	.textBlock
		h3 Section 4 Standards
		| 4.1 Demonstrate Understanding of Website Architecture and Planning:
		br
		| I have designed and planned this website myself, and it has turned out well.
		br
		br
		| 4.2 Demonstrate Understanding of Site Organization and Navigation Principles:
		br
		| This webstite has a navigation menu or bar, depending on your screensize, at the top of the website. It also has a secondary nav bar at the bottom. Both of these allow you to easily navigate the site. Then, I add a subheading in the header to tell you where on the website you are.
		br
		br
		| 4.3 Demonstrate Understanding of Website Accessibility Standards:
		br
		| This website uses a lot of contrast, without it being too distracting. This allows it to be read by most people.
	.textBlock
		h3 Section 5 Standards
		| 5.1 Use Multimedia on the Web:
		br
		| I have used multiple APIs that are far more difficult to use, than just adding multimedia. If I need to, or want to add multimedia to any of my pages, I could.
		br
		br
		| 5.2 Demonstrate Brand and Marketing and Traffic Analysis:
		br
		| I have not had any need, or want to do any Brand, Market, or Traffic Analysis. However, due to my previous math and programming experience, I could learn how to relatively quickly.
		br
		br
		| 5.3 Understand the Relationship Between the Web and Social Media:
		br
		| I think that what is said on Social Media dramatically effects your customers, because social media can almost always reach a much larger audience than any other method. This means a single vocal person can make you gain or lose a lot of customers. 
		a(href='https://www.youtube.com/channel/UCRWa5qX5vw23r_R2j1yixbA') Here is a link to my youtube channel.
		|  However, I usually only use it for watching rather than making videos.