mixin css(src)
	-src = 'CSS/' + src
	link(href=src, rel="stylesheet", type="text/css")
mixin script(src)
	-src = 'JS/' + src
	script(type="text/javascript", src=src)
    
html
	head
		title
			|SoftDoggy 
			block title
				| Home
		+css('MenuBar.css')
		+css('Base.css')
		+script('JQuery.js')
		+script('MenuBar.js')
		block head
			+script('Home.js')
			+css('Home.css')
	body
		#menuButtonDiv
			#horizMenuList.menuList
				ul
					li#logo.menuItem(goto='index.html') Home
					li.menuItem(goto='about.html') About
					li.menuItem(goto='finished.html') Finished Projects
					li.menuItem(goto='wip.html') WIP Projects
			button#menuButton
				div
					span#topBar.menuButton
					span#bottomnBar.menuButton
			#vertMenuList.menuList
				ul
					li.menuItem(goto='about.html') About
						li.menuItem(goto='finished.html') Finished Projects
						li.menuItem(goto='wip.html') WIP Projects
		header
			h1 SoftDoggy
			h3
				block title
					| Home
		main
			block content
				| Nothing Yet
		footer
			| SoftDoggy&copy;2016 See About Page for more info
			br
			ul
				li.menuItem(goto='index.html') Home
				li.menuItem(goto='about.html') About
				li.menuItem(goto='finished.html') Finished Projects
				li.menuItem(goto='wip.html') WIP Projects