extends ./index.pug

mixin css(src)
	-src = 'CSS/' + src
	link(href=src, rel="stylesheet", type="text/css")
mixin script(src)
	-src = 'JS/' + src
	script(type="text/javascript", src=src)

block title
	| Projects

block head
	+css('Projects.css')
	+script('Projects.js')

block content
	#projectWrapper
		.projectBuble(gitRepo='ProjectTechnomancer', playLink='#', projectName='Technomancer')
		.projectBuble(gitRepo='JustSafe', playLink='#', projectName='Just Safe')
		.projectBuble(srcLink='#', playLink='#', projectName='Cartmaster')
		.projectBuble(srcLink='#', playLink='#', projectName='Questmaster')
		.projectBuble(srcLink='#', playLink='#', projectName='Chunk Escape')
		.projectBuble(srcLink='#', playLink='#', projectName='PyQuery')
		.projectBuble(srcLink='#', playLink='#', projectName='This Website')