extends ./index.pug

block title
	| WIP Project

block head
	include ../CSS/Projects.css
	include ../JS/Projects.js

block content
	#projectWrapper
		.project(src='#', name='project technomancer')
		.project(src='#', name='project cartmaster')
		.project(src='#', name='project questmaster')